.container {
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f8fa;
}

.center {
  display: block;
  text-align: center;
  margin: 3rem;
}

.main {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  display: block;
}

.backToHome {
  margin: 3rem 0 0;
}
